<main>
  <div class="list">
    <div class="post_form">
      <%= link_to 'Back', user_posts_path, class:"btn_back" %>
      <h2>Create New Post</h2>

      <%= render "posts/post_form" %>
      
    </div>
  </div>
</main>